---
const { item, position } = Astro.props;

const delay = position * 100;
---

<div
  class={`reveal translate-y-8 opacity-0 transition-all duration-400 delay-${delay}`}
>
  <p class="flex flex-wrap text-lg text-neutral-900 sm:text-xl">
    {item.title} @&nbsp;
    <a class="group flex items-center" href={item.link.href}>
      <span
        class="underline transition-colors duration-100 ease-out group-hover:text-neutral-500"
        >{item.link.text}</span
      >

      <svg
        class="ml-0.5 text-neutral-400 transition-all duration-100 ease-out group-hover:rotate-45 group-hover:text-neutral-500"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
      >
        <path
          fill="none"
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M7 7h10v10M7 17L17 7"
        >
        </path>
      </svg>
    </a>
  </p>
  <span class="text-sm text-neutral-500">{item.duration}</span>
</div>
